{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        honeysql {:mvn/version "0.9.8"}
        metasoarous/oz {:mvn/version "1.6.0-alpha6"}
        nilenso/honeysql-postgres {:mvn/version "0.2.6"}
        org.postgresql/postgresql {:mvn/version "42.2.5"}
        org.clojure/java.jdbc {:mvn/version "0.7.11"}}}
